<div fxLayout="column">
  <header fxLayout="row" fxFlex fxLayoutAlign="start center">
    <img src="../assets/images/logo/logo-almundo.svg" alt="">
  </header>

  <section fxLayout="column">
    <div fxLayout="row">

      <div class="filter-container" fxLayout="row" fxFlex fxLayoutAlign="start start" fxFlex="20">
        <app-hotel-filter fxFlex (filterHotelEmitter)="filterHotels($event)"></app-hotel-filter>
      </div>
      <ng-container *ngIf="!hasHotelList() ">
        <div class="list-container" fxLayout="column " fxLayoutAlign="center center" class="card " fxFlex>
          <span class="not-result">No se encontraron resultados</span>
        </div>
      </ng-container>
      <ng-container *ngIf="hasHotelList() ">
        <div class="list-container " fxLayout="column " class="card-prueba " fxFlex>
          <app-hotel-card fxLayout="row " *ngFor="let hotel of hoteles " [hotel]="hotel " (selectHotelEmitter)="selectHotel($event) "></app-hotel-card>
        </div>
      </ng-container>
    </div>
  </section>
</div>
