.card-container {
  background-color: white;
  border-radius: 1px;
  box-shadow: 3px 3px 4pc #ccc;
  margin: 5px;
  padding: 10px;
}

.data-card {
  padding-left: 15px;
}

.hotel-img {
  max-height: 150px;
  min-width: 200px;
  max-width: 200px;
}

.card {
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 16px;
  background-color: white;
}

.hotel-amenities-icon {
  max-width: 25px;
  padding-right: 8px;
}

.hotel-name {
  color: #229af8;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.hotel-amenities {
  padding-bottom: 5px;
}

.hotel-star {
  padding-bottom: 10px;
}

.hotel-caption {
  font-size: 12px;
}

.hotel-select-button {
  background-color: #030380;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.hotel-select-button:hover {
  cursor: pointer;
}

.hotel-price {
  color: #ff8300;
  font-size: 40px;
  font-weight: bold;
}

.hotel-currency-price {
  color: #ff8300;
  font-size: 25px;
  padding-right: 5px;
}
@media (max-width: 599px) {
  .card-container {
    display: initial !important;
    padding: 16px;
  }
}
@media (min-width: 600px) and ( max-width: 5000px) {
  .card-container {
    display: flex !important;
  }
}
