<div fxLayout="row" class="card" fxFlex>
  <div fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxLayoutAlign="center start">
      <img class="hotel-img" src="../assets/images/hotels/{{hotel.image}}" alt="">
    </div>
  </div>

  <!-- <div fxLayout="row" fxFlex class="data-card" fxLayoutAlign="start center"> -->
  <div fxLayout="column" fxLayoutAlign="start start" class="data-card" fxFlex>
    <div class="hotel-name" fxLayout="row" fxLayoutAlign="start center">{{hotel.name}}</div>
    <div fxLayout="row" fxLayoutAlign="start center" class="hotel-star">
      <img fxLayout="row" fxLayoutAlign="start center" *ngFor="let stars of getArrayStars()" class="hotel-amenities-icon" src="../../../assets/icons/star.svg">
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="hotel-amenities">
      <img fxLayout="row" fxLayoutAlign="start center" *ngFor="let amanities of hotel.amenities" class="hotel-amenities-icon" src="../../../assets/icons/amenities/{{amanities}}.svg">
    </div>
  </div>
  <!-- </div> -->

  <!-- <div fxLayout="row" fxFlex="20" fxLayoutAlign="end center"> -->
  <div fxFlex="20" fxLayout="row" fxLayoutAlign="end center" fxFlex>
    <div fxLayout="column" fxLayoutAlign="center center">

      <span class="hotel-caption"> Precio por noche por habitacion</span>
      <div fxLayout="row" fxLayoutAlign="center center">
        <span class="hotel-currency-price">ARS </span>
        <span class="hotel-price"> {{hotel.price}}</span>
      </div>
      <button class="hotel-select-button">Ver Hotel</button>

    </div>
  </div>
</div>
